{% load staticfiles %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">

    <title>{% block title %} 拿去網 {% endblock %}</title>
    {% block base_library %}

    <script type="text/javascript" src="{% static 'ace/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ace/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ace/js/jquery.ui.touch-punch.js' %}"></script>
    <script type="text/javascript" src="{% static 'ace/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'ace/css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ace/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ace/css/font-awesome.min.css' %}" />

    {% endblock %}

    {% block third_party_js %}{% endblock %}
    {% block custom_js %}{% endblock %}

    {% block third_party_css %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/base.css' %}" />
    {% block custom_css %}{% endblock %}
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>

<body class="no-skin">
    {% block include %}
    {% include "home/header.html" %}
    {% endblock %}

    <div class="main-container" id='main-container'>
        <div id='content_div' class="main-content">
            <script type="text/javascript">

                function content_resize() {
                    var content = $('#main-container');
                    content.height($(window).height() - $('#navbar').outerHeight());
                }
                $(function() {
                    //$(window).resize(content_resize);
                    //$(window).trigger('resize');
                });

            </script>
            <div class="main-content-inner">
            {% block content %}{% endblock %}
            </div>
        </div>
        {% block footer %}{% endblock %}
    </div>
</body>
</html>
