{% extends 'home/base.html' %}
{% load staticfiles %}



{% block third_party_js %}

{% endblock %}

{% block third_party_css %}

{% endblock %}

{% block custom_js %}

    <script>

    </script>

    {% if DEBUG %}
    <!--<script src="https://code.jquery.com/qunit/qunit-2.0.0.js"></script>-->
    {% endif %}

{% endblock %}

{% block custom_css %}

    <style>

        #content_div {
            /* for footer */
            padding-bottom: 50px;
        }
        #main-container {
            padding-top: 0 !important;
            position: relative;
            min-height: 100%;
        }
        .footer {
            text-align: center;
            background: #333;
            color: white;
            /*position: absolute;*/
            box-sizing: border-box;
            bottom: 0;
            width: 100%;
            font-size: 1.2rem;
            line-height: 2rem;
            letter-spacing: 1px;
        }
        .footer-inner {
            padding: 20px;
        }

        @media (max-width: 767px){
            #container {
                height: 740px;
            }
            #panel_context {
                height: auto;
            }
        }
    </style>
{% endblock %}

{% block content %}

<div id="container">
    <div style="padding-top: 50px">
 

</div>
{% endblock %}

{% block footer %}
<!--    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
                <div>
<!--                    <span>XXXX</span>
                    <span>地址 : XXX</span>
                    <span>總機 : (XXX)</span>
                    <span>時間 : XXX</span>
                </div>
                <div>
                    <span>瀏覽器版本 : 建議使用Google Chrome 47.0.2526、Firefox 40.0.3、Microsoft IE 10.0以上</span>
                    <span>版權所有 非經授權禁止轉載</span>
                </div>-->
<!--            </div>
        </div>
    </div>-->
{% endblock %}
